/* google font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* layout */
:root {
  --primary: #669bbc;
  --error: #e7195a;
}
body {
  background: #f2e9e4;
  margin: 0;
  font-family: 'DynaPuff', cursive;
}
header {
  background: #ddbea9;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}



/* not-detay */
.notlar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.not-detay {
  background: #fff;
  border-radius: 4px;
  font-size:25px;

  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.not-detay h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.not-detay p {
  margin: 0;
  font-size: 20px;
  color: #555;
}
.not-detay-tarih {
  margin-top: 15px !important;
}
.not-detay span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.zaman{
  font-size: 0.8rem !important;
  margin-top:10px !important;
}



/* not form */
label, input {
display: block;
}

form.create{
  display: block;
  
  min-width: 1200px
}

.create-group
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'DynaPuff', cursive;
}


form button {
  display: block;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  width:100%;
  font-size: 20px;
  font-family: 'DynaPuff', cursive;

}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


.not-form{
  
  margin-bottom: 25px;
}

input.error{
  border:1px solid var(--error)
}


nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--error);
  border: 2px solid var(--error);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}


/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}